.toggle-mnu {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 25px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: Corki;
  src: url(../fonts/corkituscan.ttf); }

@font-face {
  font-family: Eurofurenceregular;
  src: url(../fonts/eurof55.ttf); }

@font-face {
  font-family: Exo2EL;
  src: url(../fonts/exo2extralight.ttf); }

@font-face {
  font-family: Exo2;
  src: url(../fonts/exo2RegCond.otf); }

@font-face {
  font-family: Exo2L;
  src: url(../fonts/exo2LightCond.otf); }

@font-face {
  font-family: PTSans;
  src: url(../fonts/ptsans.ttf); }

.nopadding {
  padding: 0 !important; }

.nopadding-l {
  padding-left: 0 !important; }

.nopadding-r {
  padding-right: 0 !important; }

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto; }

.w_1200 {
  margin: auto;
  width: 1200px; }

.slider {
  width: 100%;
  margin: auto;
  position: relative; }
  .slider li {
    font-size: 0; }
  .slider img {
    width: 100%; }
  .slider .slider_text {
    background-color: rgba(34, 153, 238, 0.75);
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.slider_text_inner {
  width: 600px;
  margin-top: 270px;
  text-align: right;
  padding-right: 15px;
  padding-left: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .slider_text_inner .like_h2 {
    color: white;
    font-family: Exo2;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px; }
    .slider_text_inner .like_h2 span {
      margin-top: 35px;
      display: block;
      color: #fafafa;
      font-family: Exo2L;
      font-size: 21px;
      text-transform: uppercase; }
  .slider_text_inner p {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #fafafa;
    font-family: PTSans;
    font-size: 16px;
    line-height: 24px; }

.read_mor {
  display: block;
  float: right;
  font-family: Exo2EL;
  font-size: 14px;
  color: #fafafa;
  text-transform: uppercase;
  margin-top: 43px;
  height: 40px;
  line-height: 2.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  background: #303030 url("../img/arrow_more.png") no-repeat right top;
  padding-right: 60px; }

.logo {
  display: block;
  position: relative;
  width: 370px; }
  .logo > div {
    position: absolute;
    top: 197px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Corki;
    font-size: 31px;
    text-transform: uppercase; }
    .logo > div span {
      margin-top: 5px;
      display: block;
      color: white;
      font-family: Eurofurenceregular;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }

.top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.col-logo {
  width: 370px; }

.col-logo-mnu {
  margin-top: 30px; }

.col-mnu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  width: 800px;
  height: 97px; }

.top_mnu.main-mnu {
  height: 97px;
  float: left; }

.mnu-search-wrap {
  float: right;
  height: 97px; }

.search {
  height: 97px;
  width: 97px;
  overflow: hidden;
  float: right;
  background-color: #464A4D;
  position: relative; }
  .search input {
    display: none; }

input.block {
  display: block;
  position: absolute;
  z-index: 10; }

.glass {
  position: absolute;
  background: url("../img/glass.png") no-repeat center center;
  width: 97px;
  height: 97px;
  cursor: pointer; }

.top_mnu {
  position: relative;
  z-index: 1;
  float: right !important; }
  .top_mnu ul {
    margin: 0; }
  .top_mnu li {
    float: left;
    list-style: none;
    line-height: 1;
    color: white;
    font-family: Exo2EL;
    font-size: 16px;
    text-transform: uppercase; }
    .top_mnu li:first-child {
      margin-left: 0; }
    .top_mnu li:last-child {
      margin-right: 0; }
  .top_mnu a {
    height: 97px;
    display: block;
    padding: 0 20px;
    color: #FFF;
    line-height: 6.1; }
    .top_mnu a:hover {
      text-decoration: none;
      background-color: #464a4d; }

.active a {
  background-color: #2090df; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 45px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right;
      border-radius: 0; }
      .main-mnu a:hover {
        text-decoration: none;
        -webkit-border-radius: 0;
                border-radius: 0; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none;
      -webkit-border-radius: 0;
              border-radius: 0; }
  .col-mnu {
    float: right !important;
    margin-top: 15px; }
  .top_mnu li:last-child {
    margin-right: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 400px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
