.toggle-mnu {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 25px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: Corki;
  src: url(../fonts/corkituscan.ttf); }

@font-face {
  font-family: Eurofurenceregular;
  src: url(../fonts/eurof55.ttf); }

@font-face {
  font-family: Exo2EL;
  src: url(../fonts/exo2extralight.ttf); }

@font-face {
  font-family: Exo2;
  src: url(../fonts/exo2RegCond.otf); }

@font-face {
  font-family: Exo2L;
  src: url(../fonts/exo2LightCond.otf); }

@font-face {
  font-family: PTSans;
  src: url(../fonts/ptsans.ttf); }

@font-face {
  font-family: Exo2SB;
  src: url(../fonts/exo2semibold.ttf); }

.nopadding {
  padding: 0 !important; }

.nopadding-l {
  padding-left: 0 !important; }

.nopadding-r {
  padding-right: 0 !important; }

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  background-color: #F0F0F0;
  position: relative; }

.w_1200 {
  margin: auto;
  width: 1200px; }

.slider {
  width: 100%;
  margin: auto;
  position: relative; }
  .slider li {
    font-size: 0; }
  .slider .slider_text {
    background-color: rgba(34, 153, 238, 0.75);
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.slider_text_inner {
  width: 600px;
  margin-top: 270px;
  text-align: right;
  padding-right: 15px;
  padding-left: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .slider_text_inner .like_h2 {
    color: white;
    font-family: Exo2;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px; }
    .slider_text_inner .like_h2 span {
      margin-top: 35px;
      display: block;
      color: #fafafa;
      font-family: Exo2L;
      font-size: 21px;
      text-transform: uppercase; }
  .slider_text_inner p {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #fafafa;
    font-family: PTSans;
    font-size: 16px;
    line-height: 24px; }

.read_mor {
  display: block;
  float: right;
  font-family: Exo2EL;
  font-size: 14px;
  color: #fafafa;
  text-transform: uppercase;
  margin-top: 43px;
  height: 40px;
  line-height: 2.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  background: #303030 url("../img/arrow_more.png") no-repeat right top;
  padding-right: 60px; }
  .read_mor:hover, .read_mor:focus {
    text-decoration: none;
    color: #FFF; }

.arrows_wrap {
  width: 100%;
  position: absolute;
  bottom: 140px;
  left: 0; }
  .arrows_wrap a {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 0 0; }

.w_1200.arrows {
  padding-left: 15px; }

.arrow_l {
  background-image: url("../img/arrow_l.png"); }

.arrow_r {
  background-image: url("../img/arrow_r.png"); }

.logo {
  display: block;
  position: relative;
  width: 370px; }
  .logo > div {
    position: absolute;
    top: 197px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Corki;
    font-size: 31px;
    text-transform: uppercase; }
    .logo > div span {
      margin-top: 5px;
      display: block;
      color: white;
      font-family: Eurofurenceregular;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }

.top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.col-logo {
  width: 370px; }

.col-logo-mnu {
  margin-top: 30px; }

.col-mnu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  width: 800px;
  height: 97px; }

.top_mnu.main-mnu {
  height: 97px;
  float: left; }

.mnu-search-wrap {
  float: right;
  height: 97px; }

.search {
  height: 97px;
  width: 97px;
  overflow: hidden;
  float: right;
  background-color: #464A4D;
  position: relative; }
  .search input {
    display: none; }

input.block {
  display: block;
  position: absolute;
  z-index: 10; }

.glass {
  position: absolute;
  background: url("../img/glass.png") no-repeat center center;
  width: 97px;
  height: 97px;
  cursor: pointer; }

.top_mnu {
  position: relative;
  z-index: 1;
  float: right !important; }
  .top_mnu ul {
    margin: 0; }
  .top_mnu li {
    float: left;
    list-style: none;
    line-height: 1;
    color: white;
    font-family: Exo2EL;
    font-size: 16px;
    text-transform: uppercase; }
    .top_mnu li:first-child {
      margin-left: 0; }
    .top_mnu li:last-child {
      margin-right: 0; }
  .top_mnu a {
    height: 97px;
    display: block;
    padding: 0 20px;
    color: #FFF;
    line-height: 6.1; }
    .top_mnu a:hover {
      text-decoration: none;
      background-color: #464a4d; }

.active a {
  background-color: #2090df; }

.w_1200.blocks {
  margin-top: -118px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px; }
  .w_1200.blocks > div {
    background-repeat: no-repeat;
    height: 295px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .w_1200.blocks > div:first-child {
      background-color: #fff;
      background-image: url("../img/block1_h.png");
      background-position: center 70px; }
      .w_1200.blocks > div:first-child .like_h3 {
        color: #303030; }
      .w_1200.blocks > div:first-child p {
        color: #303030; }
    .w_1200.blocks > div:nth-child(2) {
      background-color: #24a1fb;
      background-image: url("../img/block2.png");
      background-position: center 70px; }
    .w_1200.blocks > div:nth-child(3) {
      background-color: #2299ee;
      background-image: url("../img/block3.png");
      background-position: center 57px; }
    .w_1200.blocks > div:nth-child(4) {
      background-color: #2090df;
      background-image: url("../img/block4.png");
      background-position: center 59px; }
    .w_1200.blocks > div .like_h3 {
      color: #fff;
      font-family: Exo2;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 25px; }

.blocks_text {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding: 0 25px; }
  .blocks_text p {
    color: #fff;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; }

.order_consalt, .our_services_line {
  width: 100%;
  height: 112px;
  background-color: #464a4d;
  margin-top: 45px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order_consalt_form form {
  float: right; }

.order_consalt_form input {
  width: 270px;
  height: 48px;
  background-color: white;
  border: none;
  font-family: PTSans;
  font-size: 14px;
  color: #000;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
  float: left; }

.order_consalt_form input[type=submit] {
  width: 270px;
  height: 48px;
  background-color: #2299ee;
  border: none;
  color: white;
  font-family: Exo2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0; }

.order_consalt_text .like_h3 {
  color: #fafafa;
  font-family: Exo2L;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 7px; }

.order_consalt_text p {
  font-family: PTSans;
  font-size: 14px;
  color: #FFF;
  line-height: 1.2; }

.two_words_about_us {
  background-color: #FFF;
  overflow: hidden; }

.two_words_about_us_like_h2, .last_art .like_h2 {
  color: #303030;
  font-family: Exo2L;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 170px;
  padding-bottom: 22px;
  border-bottom: 4px solid #f0f0f0; }
  .two_words_about_us_like_h2 b, .last_art .like_h2 b {
    font-family: Exo2; }

.about_us_text {
  padding-top: 70px;
  color: #303030;
  font-family: PTSans;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 70px; }
  .about_us_text p {
    margin-bottom: 35px; }
    .about_us_text p:last-child {
      margin-bottom: 0; }
  .about_us_text h2 {
    color: #303030;
    font-family: Exo2L;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 22px; }

.about_us_heading {
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.our_services_line {
  margin-top: 0;
  padding-top: 0; }
  .our_services_line .w_1200 {
    padding: 0 15px; }

.our_services_heading {
  background: url("../img/services_icon.png") no-repeat 0 0;
  padding-left: 137px;
  min-height: 112px;
  overflow: hidden;
  padding-top: 37px; }
  .our_services_heading h2 {
    color: #fafafa;
    font-family: Exo2L;
    font-size: 32px;
    text-transform: uppercase; }
  .our_services_heading p {
    color: white;
    font-family: PTSans;
    font-size: 14px;
    line-height: 24px; }

.our_services {
  background-color: #F0F0F0;
  padding-bottom: 65px;
  overflow: hidden; }
  .our_services p {
    color: #303030;
    font-family: PTSans;
    font-size: 14px;
    line-height: 16px; }
  .our_services > div .img_a {
    display: block;
    font-size: 0;
    width: 270px;
    height: 192px;
    overflow: hidden;
    position: relative;
    margin-bottom: 18px; }
    .our_services > div .img_a:after {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(34, 153, 238, 0.7);
      content: "";
      width: 270px;
      height: 192px; }
    .our_services > div .img_a:hover:after {
      display: block; }
    .our_services > div .img_a:hover:before {
      background-color: #303030; }
    .our_services > div .img_a:before {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      content: "";
      right: 0;
      bottom: 16px;
      z-index: 10;
      background: #2299ee url("../img/arrow_min.png") no-repeat center center; }
  .our_services h3 a {
    color: #303030;
    font-family: Exo2SB;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 15px;
    display: block;
    position: relative;
    margin-bottom: 16px; }
    .our_services h3 a:hover {
      text-decoration: none; }
    .our_services h3 a:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      content: "";
      background-color: #e3e3e3;
      border-left: 42px solid #464a4d; }

.order_consalt2 {
  margin-top: 0; }

.last_art_text {
  padding-top: 40px; }
  .last_art_text h3 a span {
    display: block;
    color: #a0a0a0;
    font-family: PTSans;
    font-size: 14px;
    text-transform: none;
    margin-top: 12px; }

.arrow_top {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 405px;
  background: url("../img/arrow_top.png") no-repeat 0 0;
  height: 48px;
  width: 48px; }

.bottom {
  background-color: #303030;
  overflow: hidden;
  width: 100%; }

.logo2 {
  width: 271px;
  height: 213px; }
  .logo2 > div {
    font-size: 21px;
    top: 147px; }
    .logo2 > div span {
      font-size: 10px; }
  .logo2 img {
    width: 271px;
    height: 213px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 45px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right;
      border-radius: 0; }
      .main-mnu a:hover {
        text-decoration: none;
        -webkit-border-radius: 0;
                border-radius: 0; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none;
      -webkit-border-radius: 0;
              border-radius: 0; }
  .col-mnu {
    float: right !important;
    margin-top: 15px; }
  .top_mnu li:last-child {
    margin-right: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 400px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
