/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)  		
	.w_1200
		width: calc(100% - 20px)

	.search
		display: none

	.main-mnu
		display: none
		float: right
		min-width: 250px
		text-align: right
		background-color: #1C242C 
		width: auto
		position: absolute
		top: 45px
		right: 15px
		height: auto
		z-index: 10
		margin-top: 0
		ul 
			display: inline
		li 
			display: block
			float: none
			margin: 0
		a 
			display: block 
			color: #FFF 
			border-radius: 0
			border: none
			padding: 10px
			text-align: right
			border-radius: 0
			&:hover 
				text-decoration: none
				border-radius: 0
					
		a:hover, li.active a 
			border: none
			border-radius: 0			
	
	.top_mnu li:last-child 
		margin-right: 0
		
	.logo
		width: 170px
		height: 86px
		min-height: auto
		box-sizing: border-box
		padding: 10px
		position: relative
		img
			width: 55px
			float: left
			margin-top: 6px
			position: relative
		> div
				border-top: 0
				float: left
				margin-left: 8px
				font-size: 15px
				width: 85px
				text-align: left
				padding-top: 0
				line-height: 1.1	
				span
					font-size: 9px
					position: absolute
					bottom: 9px
					left: 10px
				&:before					
					float: left
					content: "" 
					display: block
					width: 2px
					background-color: rgb(34, 153, 238)
					height: 44px
					margin-right: 9px
					margin-top: 3px
									
	.top
		background-color: #303030
		.w_1200
			width: 100%

	.col-logo-mnu
		margin-top: 0		
		padding: 0 !important
	
	.col-mnu
		background-color: transparent 
		height: 86px

	.slider
		.slider_text
			width: 100%

	.slider_text_inner
		padding: 0
		margin-top: 170px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
	/**/
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 	
	/**/
@media only screen and (max-width : 640px) 
	/**/
	
@media only screen and (max-width : 570px) 
	/**/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) 
	/**/
@media only screen and (max-width : 400px) 
	/**/
@media only screen and (max-width : 360px) 
	/**/
@media only screen and (max-width : 320px) 
	/**/	
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
/* Small Devices, Tablets */
@media only screen and (min-width : 1200px)
	.main-mnu 
		display: block !important
	a 
		outline: none !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
	/**/